<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content>
    <meta name="keywords" content>

    <title>Video - Movies, TV Shows And Video Streaming HTML5 Template</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all-fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.min.css') }}">
</head>

<body>

    <div class="preloader">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>


    <header class="header">
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container position-relative">
                    <a class="navbar-brand" href="/">
                        <img src="{{ url_for('static', filename='img/logo/logo.png') }}" class="logo-dark-mode"
                            alt="logo">
                        <img src="{{ url_for('static', filename='img/logo/logo-dark.png') }}" class="logo-light-mode"
                            alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <div class="nav-search-wrap">
                            <div class="search-btn">
                                <button type="button" class="nav-right-link search-box-outer"><i
                                        class="icon-search"></i></button>
                            </div>

                            <div class="search-area">
                                <form action="handler" method="POST" novalidate>
                                    <div class="form-group">
                                        <input name="name" type="text" autocomplete=off class="form-control"
                                            placeholder="Type Keyword...">
                                        <button type="submit" class="search-icon-btn"><i
                                                class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="color-mode theme-mode-control">
                            <button type="button" class="nav-right-link light-btn"><i class="icon-sun"></i></button>
                            <button type="button" class="nav-right-link dark-btn"><i class="icon-moon-2"></i></button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <div class="nav-item nav-right">
                            <div class="nav-link nav-search-wrap">
                                <div class="search-btn">
                                    <button type="button" class="nav-right-link search-box-outer"><i
                                            class="icon-search"></i></button>
                                </div>

                                <div class="search-area">
                                    <form action="handler" method="POST" novalidate>
                                        <div class="form-group">
                                            <input name="name" type="text" autocomplete=off class="form-control"
                                                placeholder="Type Keyword...">
                                            <button type="submit" class="search-icon-btn"><i
                                                    class="icon-search"></i></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="color-mode theme-mode-control">
                                <button type="button" class="nav-right-link light-btn"><i class="icon-sun"></i></button>
                                <button type="button" class="nav-right-link dark-btn"><i
                                        class="icon-moon-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="movie-single">
            <div class="container">
                <div class="movie-single-wrap">
                    <div class="movie-single-content">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <div class="movie-img">
                                    <img src="{{ poster }}" alt>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                <div class="movie-info">
                                    <h4 class="movie-name"> {{ title }} </h4>
                                    <p>{{ description }}</p>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="movie-info-item">
                                                <strong>Genre:</strong>
                                                <span>{{ genres }}</span>
                                            </div>
                                            <div class="movie-info-item">
                                                <strong>Country:</strong>
                                                <span>{{ countries }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="movie-info-item">
                                                <strong>Duration:</strong>
                                                <span>{{ leight }}</span>
                                            </div>
                                            <div class="movie-info-item">
                                                <strong>Release:</strong>
                                                <span>{{ year }}</span>
                                            </div>
                                            <div class="movie-info-item">
                                                <strong>IMDb:</strong>
                                                <span class="rating">{{ rating }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie-player mt-20">

                        <div class="player" id="player"></div>
                        <input type="hidden" id="videoType" value="movie">
                        <input type="hidden" id="translation_id" value="2">
                        <input type="hidden" id="title" value="">

                        <input type="hidden" id="season" value="">
                        <input type="hidden" id="episode" value="">
                        <input type="hidden" id="startTime" value="">
                        <input type="hidden" id="poster" value="">
                        <input type="hidden" id="source" value="">
                        <input type="hidden" id="csrf" value="">
                        <input type="hidden" id="cuid" value="movie9326">
                        <input type="hidden" id="hide_title" value="">

                        <input type="hidden" id="href" value="site.com">
                        <div class="movie-player-content">
                            <div class="movie-action">
                                <div class="movie-action-left">
                                    <div class="color-mode theme-mode-control">
                                        <button type="button" class="light-btn"><i class="far fa-lightbulb-on"></i>Turn
                                            On Light</button>
                                        <button type="button" class="dark-btn"><i class="far fa-lightbulb"></i>Turn Off
                                            Light</button>
                                    </div>
                                </div>
                                <div class="movie-action-right">
                                    <a href="#"><i class="far fa-share-alt"></i></a>
                                </div>
                            </div>
                            <div id="servers" class="movie-server"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-area">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="#"> video </a> All
                            Rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
                            <li><a href="#"><i class="fab fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="#" id="scroll-top"><i class="far fa-arrow-up-from-arc"></i></a>


    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.appear.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counter-up.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/playerjs.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/pj.js') }}"></script> -->

    <script>
        var files = {{ files | safe }};
        var firstfile = ""
        const servers = document.getElementById("servers")


        i = 0
        j = 0
        for (var balancer in files) {
            if (files[balancer]) {
                for (var translation in files[balancer]) {
                    var urlStr = arr_to_fileURL(files[balancer][translation])
                    if (i == 0) {
                        $("#servers").append(`<button id="server-${j}" onclick="get_video(${j}, '${urlStr}')" class="server-item active">
                                            <i  class="icon-play-1"></i>
                                            <span class="server-info">${balancer}
                                            <span class="server-name">${translation}</span>
                                            </span>
                                        </button>`)

                        firstfile = urlStr
                        i++
                    } else {
                        $("#servers").append(`<button id="server-${j}" onclick="get_video(${j}, '${urlStr}')" class="server-item">
                                            <i  class="icon-play-1"></i>
                                            <span class="server-info">${balancer}
                                            <span class="server-name">${translation}</span>
                                            </span>
                                        </button>`)
                    }
                    j++
                }

            }

        }

        var u = document.getElementById("translation_id").value,
            l = document.getElementById("title").value,
            c = document.getElementById("startTime").value,
            d = document.getElementById("poster").value,
            p = document.getElementById("source").value,
            h = document.getElementById("csrf").value,
            m = document.getElementById("cuid").value,
            y = document.getElementById("hide_title").value,
            T = document.getElementById("player"),


            HREF = document.getElementById("href").value;

        window.res = false;

        function C(e) {
            var t = window.location != window.parent.location ? document.referrer : document.location.href;

            window.playerjsContainer = new Playerjs({
                id: "player",
                parent_domain: document.referrer,
                cuid: m,
                url: t,
                eventlisteners: 0,
                qualitystore: 1,
                title: y ? null : l,
                file: firstfile,
                traslation_id: e,
                default_quality: p ? p + "p" : "360p",
                href: HREF,
                poster: d,
                autoplay: 0,
                log: 1,
                logout: 1
            });

            c && window.playerjsContainer.api("seek", c)

            if (window.innerWidth < 500 && (window.res === false || window.res == '+')) {
                window.res = "-"
                window.playerjsContainer.api("design", 2);
            } else if (window.innerWidth > 500 && (window.res === false || window.res == '-')) {
                window.res = "+"
                window.playerjsContainer.api("design", 1);
            }
        } (T), window.onresize = function () {

            if (window.innerWidth < 500 && (window.res === false || window.res == '+')) {
                window.res = "-"
                window.playerjsContainer.api("design", 2);
            } else if (window.innerWidth > 500 && (window.res === false || window.res == '-')) {
                window.res = "+"
                window.playerjsContainer.api("design", 1);
            }

            T.style.width = window.innerWidth + "px", T.style.height = window.innerHeight + "px"
        }, p && localStorage.setItem("pljsquality", p + "p"), C(u);

        function get_video(button_id, url) {
            window.playerjsContainer.api("file", url)
        }

        function arr_to_fileURL(arr) {
            let result = Object.entries(arr)
                .map(([quality, url]) => `[${quality}p]${url}`)
                .join(',');
            return result
        }
    </script>
</body>

</html>